


html { width: 100%; height:100%; overflow:hidden; }

body { 
background-image: url(../assets/fondo.jpg);
background-repeat: no-repeat;
background-size: cover;
width: 100%;

}
.registro { 
	background:rgba(79, 79, 107, 0.534);
    border-radius: 8px;
	top: 30%;
	left: 37%;
	width: 430px;
	height:500px;
position: relative;
margin-top: 115px;
padding: 15px;
}


.boton{

    background: #eb94d0;
    background-image: -webkit-linear-gradient(top, #94e1eb, #2079b0);
  background-image: -moz-linear-gradient(top, #eb94d0, #2079b0);
  background-image: -ms-linear-gradient(top, #eb94d0, #2079b0);
  background-image: -o-linear-gradient(top, #eb94d0, #2079b0);
  background-image: linear-gradient(to bottom, #eb94d0, #2079b0);
  font-family: Arial;
  color: #fafafa;
  font-size: 15px;
  padding: 19px;
  text-decoration: none;
  border-radius: 50px; 
 margin-left: 100px ;




}

.direccion{

    width: 100px;
    border-radius: 15px;
    padding: 3px;
  
}

.departamento{
    width: 100px;
    border-radius: 15px;
    padding: 3px;
  
}