


html { width: 100%; height:100%; overflow:hidden; }

body { 
background-image: url(../assets/fondo.jpg);
background-repeat: no-repeat;
background-size: cover;
width: 100%;

}
.registro { 
	background:rgba(255, 255, 255, 0.61);
    border-radius: 10px;
	top: 2%;
	left: 37%;

	width: 430px;
	height:500px;
position: relative;
margin-left: 20px;

}


.h2{

    
    height: 176px;
    background-image: url(../assets/logo.jpg);
background-repeat: no-repeat;
margin-left: 8px ;
background-size: 240px;
width: 230px;
border-radius: 490px;


}




