body {
    background-image: url(../assets/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.contenedo {
    margin: 0px auto;
    width: 35%;
    justify-content: center;
    text-align: center;
    background-color: rgb(56, 33, 33);
    align-content: center;
    text-align: center;
    border-radius: 50px;
    padding: center;
}

.consultar {
    display: flex;
    margin: 0px auto;
    width: 70%;
    justify-content: center;
    text-align: center;
    background-color: rgb(253, 246, 246);
    align-content: center;
    text-align: center;
    border-radius: 50px;
    padding: center;
    display: flex;
    justify-content: space-between;
    padding-top: 10%;
    column-gap: 1%;
}

.contenedor__consultar {
    background-color: rgb(250, 250, 250);
    width: 50%;
    border-radius: 25px;
    height: 50%;
}

.contenedor__actualizarproducto {
    margin: 0;
    width: 70%;
    justify-content: center;
    text-align: center;
    background-color: rgb(250, 250, 250);
    align-content: center;
    text-align: center;
    border-radius: 15px;
    padding-top: 5%;
}

.todo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
    margin: 5% 10%;
}